In [3]:
import os, random, string

import numpy as np

import pandas as pd

path = os.getcwd()

In [4]:
STANDARDS = pd.read_csv("StepParameters_Olson1998.txt", 
                 names=['dimer','tilt','roll','twist','shift','slide','rise'],
                 index_col="dimer", delimiter=',|={', engine="python")

STANDARDS.rise = STANDARDS.rise.str.replace('}','').astype(float)

STANDARDS

/home/rty10/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """

       tilt  roll  twist  shift  slide  rise
dimer
AA     -1.4   0.7   35.1  -0.03  -0.08  3.27
AC     -0.1   0.7   31.5   0.13  -0.58  3.36
AG     -1.7   4.5   31.9   0.09  -0.25  3.34
AT      0.0   1.1   29.3   0.00  -0.59  3.31
CA      0.5   4.7   37.3   0.09   0.53  3.33
CC      0.1   3.6   32.9  -0.05  -0.22  3.42
CG      0.0   5.4   36.1   0.00   0.41  3.39
CT      1.5   1.9   36.3   0.28   0.09  3.37
GA     -1.5   1.9   36.3  -0.28   0.09  3.37
GC      0.0   0.3   33.6   0.00  -0.38  3.40
GG     -0.1   3.6   32.9   0.05  -0.22  3.42
GT     -0.5   4.7   37.3  -0.09   0.53  3.33
TA      0.0   3.3   37.8   0.00   0.05  3.42
TC      1.7   4.5   31.9  -0.09  -0.25  3.34
TG      0.1   0.7   31.5  -0.13  -0.58  3.36
TT      1.4   0.7   35.1   0.03  -0.08  3.27

In [5]:
bases = ['A','T','C','G']

seq = ''.join(random.choice(bases) for i in range(25))

print(seq)

AGCTTCTCACTTGTCCACGAATCTG

In [6]:
maindf = pd.DataFrame(columns=['#'] + STANDARDS.columns.values.tolist(),
                      index=[i for i in range(len(seq))])

maindf

      # tilt roll twist shift slide rise
0   NaN  NaN  NaN   NaN   NaN   NaN  NaN
1   NaN  NaN  NaN   NaN   NaN   NaN  NaN
2   NaN  NaN  NaN   NaN   NaN   NaN  NaN
3   NaN  NaN  NaN   NaN   NaN   NaN  NaN
4   NaN  NaN  NaN   NaN   NaN   NaN  NaN
5   NaN  NaN  NaN   NaN   NaN   NaN  NaN
6   NaN  NaN  NaN   NaN   NaN   NaN  NaN
7   NaN  NaN  NaN   NaN   NaN   NaN  NaN
8   NaN  NaN  NaN   NaN   NaN   NaN  NaN
9   NaN  NaN  NaN   NaN   NaN   NaN  NaN
10  NaN  NaN  NaN   NaN   NaN   NaN  NaN
11  NaN  NaN  NaN   NaN   NaN   NaN  NaN
12  NaN  NaN  NaN   NaN   NaN   NaN  NaN
13  NaN  NaN  NaN   NaN   NaN   NaN  NaN
14  NaN  NaN  NaN   NaN   NaN   NaN  NaN
15  NaN  NaN  NaN   NaN   NaN   NaN  NaN
16  NaN  NaN  NaN   NaN   NaN   NaN  NaN
17  NaN  NaN  NaN   NaN   NaN   NaN  NaN
18  NaN  NaN  NaN   NaN   NaN   NaN  NaN
19  NaN  NaN  NaN   NaN   NaN   NaN  NaN
20  NaN  NaN  NaN   NaN   NaN   NaN  NaN
21  NaN  NaN  NaN   NaN   NaN   NaN  NaN
22  NaN  NaN  NaN   NaN   NaN   NaN  NaN
23  NaN  NaN  NaN   NaN   NaN   NaN  NaN
24  NaN  NaN  NaN   NaN   NaN   NaN  NaN

In [7]:
BASES = {'A':'A-T', 
         'T':'T-A', 
         'C':'C-G', 
         'G':'G-C'}

In [14]:
print(seq)
for i in range(len(seq)):
    print(BASES[ seq[i] ])

AGCTTCTCACTTGTCCACGAATCTG
A-T
G-C
C-G
T-A
T-A
C-G
T-A
C-G
A-T
C-G
T-A
T-A
G-C
T-A
C-G
C-G
A-T
C-G
G-C
A-T
A-T
T-A
C-G
T-A
G-C

In [12]:
for i in range(len(seq)):
    
    maindf.at[i, '#'] = BASES[ seq[i] ]
    
    if i == 0:
        
        maindf.at[0, ['tilt','roll','twist','shift','slide','rise']] = 0
        
    else:
        
        for PAR in ['tilt','roll','twist','shift','slide','rise']:
            
            maindf.at[i, PAR] = STANDARDS.at[ seq[i-1]+seq[i] , PAR]
            
maindf

      # tilt roll twist shift slide  rise
0   G-C    0    0     0     0     0     0
1   T-A -0.5  4.7  37.3 -0.09  0.53  3.33
2   G-C  0.1  0.7  31.5 -0.13 -0.58  3.36
3   G-C -0.1  3.6  32.9  0.05 -0.22  3.42
4   G-C -0.1  3.6  32.9  0.05 -0.22  3.42
5   A-T -1.5  1.9  36.3 -0.28  0.09  3.37
6   C-G -0.1  0.7  31.5  0.13 -0.58  3.36
7   C-G  0.1  3.6  32.9 -0.05 -0.22  3.42
8   C-G  0.1  3.6  32.9 -0.05 -0.22  3.42
9   C-G  0.1  3.6  32.9 -0.05 -0.22  3.42
10  G-C  0.0  5.4  36.1   0.0  0.41  3.39
11  G-C -0.1  3.6  32.9  0.05 -0.22  3.42
12  C-G  0.0  0.3  33.6   0.0 -0.38   3.4
13  C-G  0.1  3.6  32.9 -0.05 -0.22  3.42
14  C-G  0.1  3.6  32.9 -0.05 -0.22  3.42
15  A-T  0.5  4.7  37.3  0.09  0.53  3.33
16  T-A  0.0  1.1  29.3   0.0 -0.59  3.31
17  T-A  1.4  0.7  35.1  0.03 -0.08  3.27
18  A-T  0.0  3.3  37.8   0.0  0.05  3.42
19  A-T -1.4  0.7  35.1 -0.03 -0.08  3.27
20  C-G -0.1  0.7  31.5  0.13 -0.58  3.36
21  T-A  1.5  1.9  36.3  0.28  0.09  3.37
22  G-C  0.1  0.7  31.5 -0.13 -0.58  3.36
23  A-T -1.5  1.9  36.3 -0.28  0.09  3.37
24  A-T -1.4  0.7  35.1 -0.03 -0.08  3.27

In [13]:
maindf.to_csv("TEST_EROS.par")