# UMD FIRE Stream- Genome Computing IV
## Basic Statistics & Using the `pandas` Package

In this notebook we will learn:
<ul>
    <li>what a common python data handling package is</li> 
    <li>the basic pandas data structures</li> 
    <li>useful pandas dataframe funtionality</li> 
    <li>subsetting/searching a pandas dataframe</li> 
    <li>getting pandas to generate descriptive statistics</li> 
    <li>using pandas to read in data</li>
    <li>using pandas to save data</li>
</ul>

# `pandas`

`pandas` is one of the most popular data handling packages in `python`. We'll go over the minimum you'll need to know about the package in this notebook.

Let's start by importing the package.

In [ ]:
# It is standard practice to import pandas as pd
import pandas as pd

# We will also import the numerical python package, numpy
import numpy as np

# We can refer to the pandas and numpy documentation regularly for methods, functions, and syntax questions
# pd- https://pandas.pydata.org/docs/user_guide/index.html#user-guide
# np- https://numpy.org/doc/1.24/user/index.html#user

### Series and Dataframes

`pandas` has two main data structures:
`Series` objects 
`DataFrame` objects.

In [ ]:
# We can turn a list into a series with pd.Series()

print([0,1,2,3], type([0,1,2,3]))
print()
print(pd.Series([0,1,2,3]), type(pd.Series([0,1,2,3])))

The second thing we printed was a `Series` object. 

Note the two columns of numbers. 

The first column is the index of the object, the second column contains the values of the object. We can access those two separately like below.

In [ ]:
# The index

pd.Series([0,1,2,3]).index

In [ ]:
# The values

pd.Series([0,1,2,3]).values

In [ ]:
# Take the array labeled a and turn it into a Series named b

a = [5,2,3,6,'a','b','e',True,False]



b = pd.Series(a)
b

Now let's check out a `DataFrame`.

In [ ]:
# We can make a DataFrame using a dictionary with the dictionary keys as column labels and the dictionary values are columns

df = pd.DataFrame({'one':[3,4,5,2,4,5], 
                   'two':['a','b','e','h','l','p']})

# Note that this is not the only way to make a dataframe!

In [ ]:
df

This is a `DataFrame`, the unlabeled column is the index, the labeled columns are `Series` objects themselves.

We can access them in the following way

In [ ]:
print(df[4:6])

In [ ]:
df.at[1, 'two']

In [ ]:
df.iat[1, 1]

In [ ]:
# df.column_name
print(df.one) 
print()
print(type(df.one))

In [ ]:
# or df['column_name']
print(df['two']) 
print()
print(type(df['two']))

In [ ]:
# Just like with series we can use .index
df.index

In [ ]:
## Practice
# Make a data frame with the first column labeled 'first' from list a and the second column labeled 'second' from list b
# Next, see what happens when you add index=range(10,10+len(a)) after the dictionary

a = [4,5,3,4,5,6,0]

b = ['a','c','d','g','l','m','p']


df2a = pd.DataFrame({'first':a, 'second':b})

df2b = pd.DataFrame({'first':a, 'second':b}, index=range(10, 10+len(a)))

In [ ]:
df2a

In [ ]:
df2b

In [ ]:
del df2a, df2b

In [ ]:
# What if our list contains numerous separations?
a = ["a c f g    s q   q  r   h h  v"]

# we can use the function .split() on the element in the list to turn THAT into a list (now a "list of lists")

A = a[0].split()

print(a)
print()
print(A)

print('-'*10)

print(a[0

### Helpful `DataFrame` Functions

`pandas` offers some really nice built in function to help you explore any data set you're dealing with. Let's explore them below.

In [ ]:
# We'll work with the following dataframe

df = pd.read_table("datafiles/test_dnapar.par", 
                   skiprows=2, # we need to exclude the header
                   sep='\s+' # the columns in the par file as separated by multiple spaces of differing lengths
                  )

In [ ]:
df.iloc[31]

In [ ]:
# We can examine the top of the dataframe, the default is the first 5 entries

df.head()

In [ ]:
# We can also look at the bottom
# Plus, we can put in a number lets us control the number of rows

df.tail(10)

In [ ]:
# We can get a random sample

df.sample(20)

# Look to the indices for proof

In [ ]:
## We can sort our dataframe by a single column

df.sort_values('#')

In [ ]:
# ... or by multiple columns
# And can choose to go in descending order

df.sort_values(['#','Twist'],
               ascending=[True,False])

In [ ]:
# We can drop certain values by index

df.drop([0,1,2,3]).head()

In [ ]:
# Note: if you have missing data you can drop it too

df.dropna()

### Getting Descriptive Statistics

`pandas` has more built in functions that will allow you to calculate some descriptive statistics that could be useful.

In [ ]:
# find the max for each column

df.max()

In [ ]:
# We can also find the maximum or minimum value for a specific column
# This can be done using [''] notatiton if the header name has spaces,

df['Prop-Tw'].max()

In [ ]:
# ... or the header name can be separately by a period

df.Buckle.max()

In [ ]:
# In added to max and min, we can find the mean (or average)

# Let's try manually first
# Take the sum of all Stagger values and divide by the number of entries

print ( df.Stagger.sum() / len( df.Stagger ) )

# Or you can use the .mean() function built in
print( df.Stagger.mean() )

In [ ]:
# You can get a count of how many of each value exist in a column

df['#'].value_counts()

In [ ]:
# We can determine the middle value of a set of data- the median
# The most repeated value- the mode
# and compare them to the mean

print( df.Rise.median() )
print( df.Rise.mode() )
print( df.Rise.mean() )

In [ ]:
# Get a list of summary stats

df.describe()

In [ ]:
# If .describe() isn't helpful, we can use df.agg() with a list of statistics we want to see for all columns
# NOTE: be careful with .agg() as it will not cooperate with text data

df.drop(columns=['#']).agg(['median','mean','min','max','sum'])

In addition to mean, median, and mode, we can collect distribution-based statistics.

This includes: variance (.var()) and standard deviation (.std() )
<ul>
<li> Variance is a measure of data dispersion, or the spread, and is the mean-squared difference between each data point to the mean value</li>
<li> Standard Deviation (the square root of the variance) is a measure of dispersion related to a normal distribution of the data</li>
    </ul>

We can also determine relationships between parameters using covariance (.cov()) and correlation (.corr())
<ul>
<li> Covariance is the measure of how two random variable will change with respect to each other. It's calculated as the average of the product of the variance of the two parameters</li>
<li> Correlation is similar in definition to covariance and is calculated by dividing the covariance of the parameters by the product of both parameterss standard deviations</li>
    </ul>

In [ ]:
print(df.Opening.var())
print()
print(df.Opening.std())

In [ ]:
df[['Tilt','Roll','Twist']].cov()

# Note: for this covariance matrix, the diagonal terms are the variance values of the parameter

In [ ]:
df[['Tilt','Roll','Twist']].corr()

# From "Correlation cofficient" on wikipedia:
# "Several types of correlation coefficient exist, each with their own definition and own range of usability and characteristics. 
# They all assume values in the range from −1 to +1, where ±1 indicates the strongest possible agreement and 0 the strongest possible disagreement."

### Subsetting and Searching a `DataFrame`

Recall from the web 3DNA Tutorials that for base pair parameters the first row can be non-zero values, yet base-pair STEP parameters must have be null values in this row? This messes up the statistics for the base-pair step parameters. 

Sometimes we'll want to get a subset of a `DataFrame` or search for observations that fit a certain condition. There are a few ways we can do that.

In [ ]:
print(len(df))

In [ ]:
# .loc for logical subsetting
# First enter the boolean condition you're interested in
# Then, if you want certain columns you can enter that after the comma

df.loc[ df.Twist > 0.000 , ]

In [ ]:
df[['Tilt','Roll','Twist','Shift','Slide','Rise']].describe()

In [ ]:
df.loc[ df.Twist > 0.000 , ][['Tilt','Roll','Twist','Shift','Slide','Rise']].describe()

In [ ]:
# Let's sort based on multiple conditions

df.loc[(df.Roll > 10) & (df.Slide > 0), ['Tilt','Roll','Twist']]

In [ ]:
# Subset with a numeric index use iloc, first rows then columns
# Get rows 14 through 23

df.iloc[14:23, ]

In [ ]:
df.iloc[14:23, 10:12]

In [ ]:
# We can even groupby for categorical variables to make calculating summary stats easier

df.groupby('#').median()

In [ ]:
# Task
# Load the test_dnapdb.pdb file into a list, removing all newline characters
# Remove the head and any item that starts with CONECT
# Load remaining list into a dataframe,
# Study this url (https://www.cgl.ucsf.edu/chimera/docs/UsersGuide/tutorials/framepdbintro.html) to determine what the column headers should be for a pdb file and then add that to the dataframe
# How many atom types are in this structure? How many of each nucleotide is in here? How many base pairs?
# What is the average x, y, and z coordinates for P atoms in Chain A?


infile = open("datafiles/test_dnapdb.pdb", "r")
indata = infile.readlines()
infile.close()

# First, get rid of newline characters
indata = [i.rstrip('\n') for i in indata]

# Only keep ATOM record data
indata = [i for i in indata if i.startswith("ATOM ")]

# Use .split() to split each row based on whitespace
indata = [i.split() for i in indata]

# Load list-of-lists 'indata' variable into DataFrame
pdb_df = pd.DataFrame(indata,
                     columns=["RECORD","atom_number","atom_name","residue_name","chain_id","residue_seq_number","x","y","z","occupancy","temp_factor","element_symbol"])

In [ ]:
# Since this is coming from a data file, make sure your atom_number, residue_seq_number, x, y, z, occupancy, and temp_factor are numeric data types
numeric_data_types = {'atom_number':int, 
                      'residue_seq_number':int,
                      'x':float, 
                      'y':float,
                      'z':float, 
                      'occupancy':float,
                      'temp_factor':float }
pdb_df = pdb_df.astype(numeric_data_types)
pdb_df.dtypes

In [ ]:
# For number of atom types, you want to know all unique atom_name occurances
# select the atom_name column and use .unique()
# ... and use len to count

len( pdb_df.atom_name.unique() )

In [ ]:
# For the nucleotide count, recall that each nucleotide must have one phosphate, so select data with only P atom_names
# The use .value_counts() on the resident_name column

pdb_df[pdb_df.atom_name == "P"].residue_name.value_counts()

In [ ]:
# Use the same selection of the phosphate atoms but this time just count how many are in chain A or chain B

pdb_df[pdb_df.atom_name == "P"].chain_id.value_counts()

In [ ]:

print("mean of x: ", pdb_df[(pdb_df.atom_name == "P")&(pdb_df.chain_id == "A")].x.mean() )

print("mean of y: ", pdb_df[(pdb_df.atom_name == "P")&(pdb_df.chain_id == "A")].y.mean() )

print("mean of z: ", pdb_df[(pdb_df.atom_name == "P")&(pdb_df.chain_id == "A")].z.mean() )

In [ ]:
# Dr. Robert Young, University of Maryland
# In collaboration with Matthew Osborne, Erdos Institute
# UMD FIRE Genome Computing